html,
body {
    margin: 5px 5px 5px 5px;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;


}

.header {
    background-color: rgb(83, 83, 83);
    height: 150px;
    border-radius: 10px;
    color: rgb(238, 238, 238);
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5%;
    margin-right: 5%;
}

.menu {
    height: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -20px;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.menu>a {
    display: flex;
    height: 100%;
    flex-grow: 1;
    text-decoration: none;
    justify-content: center;
}

.navi:hover {
    background: rgb(247, 247, 247);
    color: rgb(36, 36, 36);
    font-size: bold;
}

.navi {
    text-align: center;
    color: rgb(5, 5, 5);
    background: linear-gradient(0deg, rgb(187, 187, 187) 0%, rgb(247, 247, 247) 100%);
    border: 2px solid rgba(255, 255, 255, 0.575);
    padding-top: 15px;
    width: 100%;
    height: 35px;
}

.cards {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-around;
}


.todayinfogram {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-basis: 33%;
    flex-basis: auto;
}

.cards a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.cardbody {
    flex-grow: 1;
    /*border: 1px solid green;*/
    width: 200px;
    height: 200px;
    /*background-color: rgb(255, 255, 255); */
    padding: 10px;
}

.cardinfo {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(216, 216, 216);
}

#digits {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    height: 30px;
    width: 80px;
    text-align: center;
    font-size: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* Убираем стандартное оформление */
    margin: 0;
    /* Убираем возможные отступы */
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Делаем поле похожим на текстовое */
}

.submit_btn {
    background-color: aquamarine;
    width: 250px;
    height: 50px;
    border-radius: 5px;
}

.todayinfogram {
    margin-top: 20px;
    background-color: rgb(247, 247, 247);
}

.todayIs {
    border: 2px solid rgb(255, 255, 255);
    padding: 0px 10px 10px 10px;
    text-align: left;
    color: rgb(67, 67, 67);
    background-color: rgb(242, 242, 242);
    -webkit-box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.14);
    box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.14);
}

.today-lbl {
    font-weight: bold;
}

.tdate {
    font-size: 35px;
}