html,
body {
    background-color: rgb(255, 250, 244);
    margin: 5px 5px 5px 5px;
}

.header {
    background-color: rgb(148, 148, 148);
    width: 100%;
    height: 100px;
}

.menu {
    background-color: rgb(148, 148, 148);
    width: 100%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cards {
    width: 100%;
    background-color: rgb(186, 199, 0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-around;
}

.cards a {
    text-decoration: none;
    color: red;
}

.cardbody {
    flex-grow: 1;
    border: 1px solid green;
    width: 200px;
    height: 200px;
    background-color: rgb(148, 148, 148);
    padding: 10px;
}

.cardinfo {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(216, 216, 216);
}

#digits {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 30px;
    width: 80px;
    text-align: center;
    font-size: 20px;

}